# .coveragerc to control coverage.py
[run]
branch = True
source = azext_edge/edge
omit = 
    # ignore all tests
    azext_edge/tests/*
    # ignore vendor
    azext_edge/edge/vendor/*
    # skip params and command map
    azext_edge/edge/params.py
    azext_edge/edge/command_map.py