[pytest]
log_cli = 1
log_cli_level = WARNING

addopts =
    -v

norecursedirs =
    dist
    build

testpaths =
    azext_edge/tests

env =
    azext_edge_rg=
    azext_edge_cluster=
    azext_edge_skip_init=
    azext_edge_kv=
    azext_edge_acr_name=
    azext_edge_acr_artifact=

markers =
    init_scenario_test: mark tests that will run az iot ops init
    rpsaas: mark tests that are purely cloud-side
    e2e: mark tests that run in e2e pipeline
    require_wlif_setup: mark tests that require workload identity trust setup
    acr: mark tests that require an Azure Container Registry
    integration: mark integration tests that may require network access
    requires_network: mark tests that require network connectivity
