name: CLI Command Table Linter
on:
  workflow_call:

jobs:
  linter:
    name: Evaluate command table
    runs-on: ubuntu-latest
    steps:
    # checkout source (for linter_exclusions)
    - uses: actions/checkout@v3

    # download built wheel (from ./build.yml)
    - name: Download Wheel
      uses: actions/download-artifact@v3
      with:
        name: azure-edge-cli-ext
        path: ./extension

    # Install python
    - uses: actions/setup-python@v3
      name: Setup python
      with:
          python-version: "3.9"

    # Lint
    - name: azdev linter
      run: |
        set -ev
        pip install virtualenv
        python -m virtualenv venv/
        source ./venv/bin/activate
        git clone --single-branch -b dev https://github.com/Azure/azure-cli.git ../azure-cli
        pip install azdev
        azdev --version
        azdev setup -c ../azure-cli -r ./
        AZURE_EXTENSION_DIR=~/.azure/cliextensions
        ARTIFACTS_DIR=./extension
        WHEELS=$(ls $ARTIFACTS_DIR/*.whl)
        az --version
        for i in $WHEELS; do
          az extension add --source $i -y --debug
        done
        cp ./linter_exclusions.yml $AZURE_EXTENSION_DIR/azure-edge/
        azdev linter --include-whl-extensions azure-edge --min-severity medium