name: "[auto] Simple Build"
on:
  workflow_call:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup python
        uses: actions/setup-python@v3
        with:
            python-version: "3.9"
      - name: Build Wheel
        run: |
          pip install wheel
          python -m setup bdist_wheel -d dist
      - name: Upload Wheel Artifact
        uses: actions/upload-artifact@v3.1.0
        with:
          path: dist/*.whl
          name: azure-iot-ops-cli-ext