name: "[auto] Docker Build"
permissions: {}
on:
  pull_request:
    paths:
      - "Dockerfile"
jobs:
  ensure-docker-build:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout source"
        uses: actions/checkout@v4
      - run: docker build --no-cache .