name: Integration tests
on:
  schedule:
    - cron: "0 9 * * *" # Run daily at 1:00 AM Pacific Time (9:00 AM UTC)
  workflow_call:
    inputs:
      resource-group:
        description: Resource group for cluster creation
        type: string
        required: true
        default: ops-cli-int-test-rg
      runtime-init-args:
        description: Additional INIT arguments (beyond cluster name, resource group, schema registry).
        type: string
        required: false
        default: ""
      runtime-create-args:
        description: Additional CREATE arguments (beyond cluster name, resource group, instance name).
        type: string
        required: false
        default: ""
      custom-locations-oid:
        description: Custom Locations OID
        type: string
        required: false
        default: "51dfe1e8-70c6-4de5-a08e-e18aff23d815"
      init-continue-on-error:
        description: Continue on error for init integration tests
        type: boolean
        required: false
        default: true
      keep-on-failure:
        description: Number of minutes to keep the cluster(s) active on failure (max 240 min).
        type: number
        required: false
        default: 0
    secrets:
      # required for az login
      AZURE_CLIENT_ID:
        required: true
      AZURE_TENANT_ID:
        required: true
      AZURE_SUBSCRIPTION_ID:
        required: true
  workflow_dispatch:
    inputs:
      resource-group:
        description: Resource group for cluster creation
        type: string
        required: true
        default: ops-cli-int-test-rg
      custom-locations-oid:
        description: Object ID of Custom Locations RP
        type: string
        required: false
        default: "51dfe1e8-70c6-4de5-a08e-e18aff23d815"
      runtime-init-args:
        description: Additional INIT arguments (beyond cluster name, resource group, schema registry).
        type: string
        required: false
        default: ""
      runtime-create-args:
        description: Additional CREATE arguments (beyond cluster name, resource group, instance name).
        type: string
        required: false
        default: ""
      init-continue-on-error:
        description: Continue on error for init integration tests
        type: boolean
        required: false
        default: true
      keep-on-failure:
        description: Number of minutes to keep the cluster(s) active on failure (max 240 min).
        type: number
        required: false
        default: 0

permissions:
  # required for OpenID federation
  contents: "read"
  id-token: "write"

env:
  RESOURCE_GROUP: "${{ inputs.resource-group || 'ops-cli-int-test-rg' }}"
  K3S_VERSION: "v1.29.15+k3s1"
  CUSTOM_LOCATIONS_OID: "${{ inputs.custom-locations-oid || '51dfe1e8-70c6-4de5-a08e-e18aff23d815' }}"
  KEEP_ALIVE: ${{ inputs.keep-on-failure || 0 }}
  RUNTIME_CREATE_ARGS: "${{ inputs.runtime-create-args  }}"
  RUNTIME_INIT_ARGS: "${{ inputs.runtime-init-args }}"

jobs:
  setup:
    name: "Check Inputs"
    runs-on: ubuntu-22.04
    outputs:
      create_args: ${{ steps.custom_input.outputs.CREATE_ARG }}
      init_args: ${{ steps.custom_input.outputs.INIT_ARG }}
    steps:
      - name: "Check Keep On Failure arg"
        run: |
          if [[ ! ${{ env.KEEP_ALIVE }} =~ ^[0-9]+$ ]]; then
            echo "The keep alive input is not a valid number"
            exit 1
          fi
      - name: "Output custom inputs for future job"
        id: custom_input
        run: |
          echo "CREATE_ARG=${{ env.RUNTIME_CREATE_ARGS }}" >> $GITHUB_OUTPUT
          echo "INIT_ARG=${{ env.RUNTIME_INIT_ARGS }}" >> $GITHUB_OUTPUT
  test:
    needs: setup
    env:
      CLUSTER_NAME: "opt${{ github.run_number }}${{ matrix.feature }}"
      INSTANCE_NAME: "inst${{ github.run_number }}${{ matrix.feature }}"
      KEYVAULT_NAME: "kv${{ github.run_number }}"
      INIT_ARG: ${{ needs.setup.outputs.init_args }}
      CREATE_ARG: ${{ needs.setup.outputs.create_args }}
    strategy:
      fail-fast: false
      matrix:
        feature:
          [
            custom-input,
            default,
            insecure-listener,
            syncrules,
            redeploy,
            trustbundle,
          ]
        runtime-args:
          - ${{ needs.setup.outputs.init_args != '' || needs.setup.outputs.create_args != '' }}
        exclude:
          - feature: custom-input
            runtime-args: false
          - feature: default
            runtime-args: true
          - feature: insecure-listener
            runtime-args: true
          - feature: syncrules
            runtime-args: true
          - feature: redeploy
            runtime-args: true
          - feature: trustbundle
            runtime-args: true
    name: "Run cluster tests"
    runs-on: ubuntu-22.04
    steps:
      - name: "Determine Init Args"
        id: "init"
        run: |
          echo "NO_PREFLIGHT=false" >> $GITHUB_OUTPUT
          if [[ ${{ matrix.feature }} == "insecure-listener" ]]; then
            echo "CREATE_ARG=--add-insecure-listener" >> $GITHUB_OUTPUT
            echo "NO_PREFLIGHT=true" >> $GITHUB_OUTPUT
          elif [[ ${{ matrix.feature }} == "syncrules" ]]; then
            echo "CREATE_ARG=--enable-rsync" >> $GITHUB_OUTPUT
          elif [[ ${{ matrix.feature }} == "custom-input" ]]; then
            echo "CREATE_ARG=${{ env.RUNTIME_CREATE_ARGS }}" >> $GITHUB_OUTPUT
            echo "INIT_ARG=${{ env.RUNTIME_INIT_ARGS }}" >> $GITHUB_OUTPUT
          elif [[ ${{ matrix.feature }} == "trustbundle" ]]; then
            echo "CREATE_ARG=--trust-settings configMapName=example-bundle configMapKey=trust-bundle.pem issuerKind=Issuer issuerName=selfsigned-issuer " >> $GITHUB_OUTPUT
            echo "INIT_ARG=--user-trust true" >> $GITHUB_OUTPUT
          fi
      - name: "Output variables for future steps"
        id: "env_out"
        run: |
          echo "RESOURCE_GROUP=${{ env.RESOURCE_GROUP }}" >> $GITHUB_OUTPUT
          echo "CLUSTER_NAME=${{ env.CLUSTER_NAME }}" >> $GITHUB_OUTPUT
          echo "INSTANCE_NAME=${{ env.INSTANCE_NAME }}" >> $GITHUB_OUTPUT
      - name: "Setup python"
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: "Checkout extension source for build"
        uses: actions/checkout@v4
      - name: "Build and install local IoT Ops extension from source"
        run: |
          pip install -r dev_requirements.txt
          python -m setup bdist_wheel -d dist
          wheel=$(find ./dist/*.whl)
          az extension add --source $wheel -y
      - name: "Create k3s cluster"
        uses: ./.github/actions/create-k3s-cluster
      - name: "Apply custom cluster issuer"
        if: ${{ matrix.feature == 'trustbundle' || contains(env.RUNTIME_INIT_ARGS, '--user-trust') }}
        run: |
          set -x
          helm repo add jetstack https://charts.jetstack.io --force-update

          helm install \
            cert-manager jetstack/cert-manager \
            --namespace cert-manager \
            --create-namespace \
            --version v1.13.6 \
            --set installCRDs=true \
            --set startupapicheck.timeout=5m

          kubectl create namespace azure-iot-operations

          helm upgrade trust-manager jetstack/trust-manager \
            --install \
            --namespace cert-manager \
            --set app.trust.namespace=cert-manager \
            --wait

          kubectl apply -f - <<EOF
          apiVersion: cert-manager.io/v1
          kind: Issuer
          metadata:
            name: selfsigned-issuer
            namespace: cert-manager
          spec:
            selfSigned: {}
          ---
          apiVersion: cert-manager.io/v1
          kind: Certificate
          metadata:
            name: trust-manager-example-ca
            namespace: cert-manager
          spec:
            isCA: true
            commonName: trust-manager-example-ca
            secretName: trust-manager-example-ca-secret
            privateKey:
              algorithm: ECDSA
              size: 256
            issuerRef:
              name: selfsigned-issuer
              kind: Issuer
              group: cert-manager.io
          EOF

          kubectl apply -f - <<EOF
          apiVersion: trust.cert-manager.io/v1alpha1
          kind: Bundle
          metadata:
            name: example-bundle
            namespace: cert-manager
          spec:
            sources:
            - useDefaultCAs: true
            - secret:
                name: "trust-manager-example-ca-secret"
                key: "tls.crt"
            target:
              configMap:
                key: "trust-bundle.pem"
              namespaceSelector:
                matchLabels:
                  kubernetes.io/metadata.name: azure-iot-operations
          EOF

          kubectl apply -f - <<EOF
          apiVersion: cert-manager.io/v1
          kind: Issuer
          metadata:
            name: selfsigned-issuer
            namespace: azure-iot-operations
          spec:
            selfSigned: {}
          EOF
      - name: "Tox test environment setup for init"
        run: |
          python -m pip install tox
          tox r -vv -e python-init-int --notest
      - name: "Tox test environment setup for edge integration tests"
        if: ${{ matrix.feature == 'default' }}
        run: |
          tox r -vv -e "python-edge-int" --notest
      - name: "Tox test environment setup for cloud integration tests"
        if: ${{ matrix.feature == 'syncrules' }}
        run: |
          tox r -vv -e "python-rpsaas-int" --notest
      - name: "Tox test environment setup for Workload Identity integration tests"
        if: ${{ matrix.feature == 'trustbundle' }}
        run: |
          tox r -vv -e "python-wlif-int" --notest
      - name: "Az CLI login"
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      - name: "ARC connect cluster"
        uses: ./.github/actions/connect-arc
        with:
          cluster-name: ${{ env.CLUSTER_NAME }}
          resource-group: ${{ env.RESOURCE_GROUP }}
          custom-locations-oid: ${{ env.CUSTOM_LOCATIONS_OID }}
          enable-workload-identity: ${{ matrix.feature == 'trustbundle' }}
      - name: "Az CLI login"
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      - name: "OIDC Token exchange service"
        run: |
          while true; do
            token_request=$ACTIONS_ID_TOKEN_REQUEST_TOKEN
            token_uri=$ACTIONS_ID_TOKEN_REQUEST_URL
            token=$(curl -H "Authorization: bearer $token_request" "${token_uri}&audience=api://AzureADTokenExchange" | jq .value -r)
            az login --service-principal -u ${{ secrets.AZURE_CLIENT_ID }} -t ${{ secrets.AZURE_TENANT_ID }} --federated-token $token --output none
            # Sleep for 4 minutes
            sleep 240
          done &
      - name: "Tox INIT Integration Tests"
        env:
          AIO_CLI_INIT_PREFLIGHT_DISABLED: ${{ steps.init.outputs.NO_PREFLIGHT }}
          azext_edge_init_continue_on_error: ${{ inputs.init-continue-on-error || '' }}
          azext_edge_rg: ${{ steps.env_out.outputs.RESOURCE_GROUP }}
          azext_edge_cluster: ${{ steps.env_out.outputs.CLUSTER_NAME }}
          azext_edge_instance: ${{ steps.env_out.outputs.INSTANCE_NAME }}
          azext_edge_init_args: ${{ steps.init.outputs.INIT_ARG }}
          azext_edge_create_args: ${{ steps.init.outputs.CREATE_ARG }}
        run: |
          tox r -e python-init-int --skip-pkg-install -- --durations=0
          tox r -e report
          coverage=$(jq .totals.percent_covered coverage.json | cut -c1-4)
          echo "Init code coverage: $coverage%" >> $GITHUB_STEP_SUMMARY
      - name: "Tox Edge Integration Tests"
        if: ${{ matrix.feature == 'default' }}
        env:
          azext_edge_rg: ${{ steps.env_out.outputs.RESOURCE_GROUP }}
          azext_edge_cluster: ${{ steps.env_out.outputs.CLUSTER_NAME }}
          azext_edge_instance: ${{ steps.env_out.outputs.INSTANCE_NAME }}
        run: |
          tox r -e "python-edge-int" --skip-pkg-install -- --durations=0 --dist=loadfile -n auto
          tox r -e report
          coverage=$(jq .totals.percent_covered coverage.json | cut -c1-4)
          echo "Edge code coverage: $coverage%" >> $GITHUB_STEP_SUMMARY
      - name: "Az CLI login"
        if: ${{ matrix.feature == 'syncrules' }}
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      - name: "Tox Cloud Integration Tests"
        if: ${{ matrix.feature == 'syncrules' }}
        env:
          azext_edge_rg: ${{ steps.env_out.outputs.RESOURCE_GROUP }}
          azext_edge_cluster: ${{ steps.env_out.outputs.CLUSTER_NAME }}
          azext_edge_instance: ${{ steps.env_out.outputs.INSTANCE_NAME }}
        run: |
          tox r -e "python-rpsaas-int" --skip-pkg-install -- --durations=0 --dist=loadfile -n auto
          tox r -e report
          coverage=$(jq .totals.percent_covered coverage.json | cut -c1-4)
          echo "Cloud code coverage: $coverage%" >> $GITHUB_STEP_SUMMARY
      - name: "Tox Workload Identity Integration Tests"
        if: ${{ matrix.feature == 'trustbundle' }}
        env:
          azext_edge_rg: ${{ steps.env_out.outputs.RESOURCE_GROUP }}
          azext_edge_instance: ${{ steps.env_out.outputs.INSTANCE_NAME }}
          azext_edge_sp_object_id: ${{ secrets.AZURE_CLIENT_ID }}
        run: |
          tox r -e "python-wlif-int" --skip-pkg-install -- --durations=0 --dist=loadfile -n auto
          tox r -e report
          coverage=$(jq .totals.percent_covered coverage.json | cut -c1-4)
          echo "WLIF code coverage: $coverage%" >> $GITHUB_STEP_SUMMARY
      - name: "Upload coverage artifacts"
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: coverage-${{ matrix.feature }}
          path: ./.coverage
          include-hidden-files: true
      - name: "Run smoke tests"
        run: |
          az iot ops support create-bundle
          az iot ops support create-bundle --svc broker --broker-traces
          az iot ops support create-bundle --ops-service acs secretstore
          az iot ops check
          az iot ops check --pre
          az iot ops check --post
          az iot ops check --as-object
          az iot ops check --svc broker --resources broker brokerlistener
          az iot ops asset query -g ${{ env.RESOURCE_GROUP }} --location westus -o table
      - name: "Keep cluster alive"
        if: ${{ env.KEEP_ALIVE > 0 && failure() }}
        run: |
          kubectl create clusterrolebinding teamaccessbinding --clusterrole cluster-admin --group ${{ secrets.CLUSTER_ACCESS_SG }} >/dev/null 2>&1

          echo "Cluster ${{ env.CLUSTER_NAME }} in resource group ${{ env.RESOURCE_GROUP }}"
          echo "Instance name ${{ env.INSTANCE_NAME }}"
          echo ""

          echo "Please ensure you have the required roles: \"Azure Arc Kubernetes Viewer\" and \"Azure Arc Enabled Kubernetes Cluster User Role\""
          echo "To connect to the cluster please use"
          echo "az connectedk8s proxy -g ${{ env.RESOURCE_GROUP }} -n ${{ env.CLUSTER_NAME }}"
          echo ""

          TIME_LIMIT=${{ env.KEEP_ALIVE }}
          if (( $TIME_LIMIT > 240 )); then
            echo "Given time limit is over the maximum of 4 hours. Setting to 4 hours."
            TIME_LIMIT=240
          fi

          for ((i=0; i < $TIME_LIMIT; i+=1)); do
            if [ $(( i % 10 )) == 0 ]; then
              echo "Remaining time: $(( $TIME_LIMIT - i )) minutes"
            fi
            sleep 60s
          done
      - name: "Delete Cluster for redeployment"
        if: ${{ matrix.feature == 'redeploy' }}
        run: |
          az iot ops delete -n ${{ env.INSTANCE_NAME }} -g ${{ env.RESOURCE_GROUP }} -y
      - name: "Redeploy cluster via tox"
        if: ${{ matrix.feature == 'redeploy' }}
        env:
          azext_edge_rg: ${{ steps.env_out.outputs.RESOURCE_GROUP }}
          azext_edge_cluster: ${{ steps.env_out.outputs.CLUSTER_NAME }}
          azext_edge_instance: ${{ steps.env_out.outputs.INSTANCE_NAME }}
          azext_edge_init_args: ${{ steps.init.outputs.INIT_ARG }}
          azext_edge_create_args: ${{ steps.init.outputs.CREATE_ARG }}
        run: |
          tox r -e python-init-int --skip-pkg-install -- --durations=0
      - name: "Delete AIO resources"
        if: ${{ always() }}
        run: |
          az iot ops delete --cluster ${{ env.CLUSTER_NAME }} -g ${{ env.RESOURCE_GROUP }} -y
      - name: "Delete connected cluster"
        if: ${{ always() }}
        run: |
          az resource delete  -v --name ${{ env.CLUSTER_NAME }} -g ${{ env.RESOURCE_GROUP }} --resource-type Microsoft.Kubernetes/connectedClusters --verbose
  combine-coverage:
    name: "Combine coverage reports"
    if: ${{ always() }}
    needs: test
    runs-on: ubuntu-22.04
    steps:
      - name: "Checkout source"
        uses: actions/checkout@v4
      - name: "Download all coverage artifacts"
        uses: actions/download-artifact@v4
        with:
          pattern: coverage-*
          path: ./coverage_parts
      - name: "Combine coverage and generate report"
        run: |
          pip install coverage
          coverage combine ./coverage_parts/*/.coverage
          coverage report
          coverage html --directory ./htmlcov --title "AIO CLI Combined Coverage Report"
      - name: "Upload combined coverage artifact"
        uses: actions/upload-artifact@v4
        with:
          name: combined-coverage
          path: ./htmlcov
