on:
    release:
        types: released
    workflow_dispatch:
name: Publish Integration Test Container Image
permissions:
    # required for OpenID federation
    contents: 'read'
    id-token: 'write'
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      # checkout the repo
      - name: "Checkout GitHub Action"
        uses: actions/checkout@main
      - name: "Az CLI login"
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      - name: Login to ACR via OIDC
        run: |
            az acr login --name aziotops
      - name: Determine Version
        run: |
            echo VERSION=$(sed -n -e 's/^VERSION = "\(.*\)"/\1/p' ./azext_edge/constants.py) >> $GITHUB_ENV
      - name: Build and push container image
        run: |
          base="aziotops/cli-extension-tests"
          az acr build -t $base:latest -t $base:${{ github.event.release.tag_name || github.sha }} -t $base:${{ env.VERSION }} -r aziotops .