name: Build Wheel for Release
on:
  workflow_call:
  workflow_dispatch:
    inputs:
      upload_wheel:
        type: boolean
        description: 'Upload this wheel to extension storage container'
        default: false

jobs:
  build:
      runs-on: [self-hosted, 1ES.Pool=iotupx-github-hosted-pool, 1ES.ImageOverride=MMSUbuntu20.04]
      steps:
      - name: Setup python
        uses: actions/setup-python@v3
        with:
            python-version: "3.9"
      
      - uses: actions/checkout@v3

      - name: Build Wheel
        run: |
          pip install wheel==0.30.0
          python -m setup bdist_wheel -d dist
      - name: Determine Wheel Version
        run: |
          wheel=$(find ./dist/*.whl)
          echo "wheel=$wheel" >> $GITHUB_ENV
          pip install $wheel
          version=$(pip show azure_edge | grep Version: | awk '{print $2}')
          echo "version=$version" >> $GITHUB_ENV
      - name: Generate SBOM
        run: |
          curl -Lo $RUNNER_TEMP/sbom-tool https://github.com/microsoft/sbom-tool/releases/download/v1.5.1/sbom-tool-linux-x64
          chmod +x $RUNNER_TEMP/sbom-tool
          $RUNNER_TEMP/sbom-tool generate -b ./dist -bc . -pn "Azure Edge CLI Extension" -pv "${{ env.version }}" -ps Microsoft

      - name: Upload Wheel Artifact
        uses: actions/upload-artifact@v3.1.0
        with:
          path: ${{ env.wheel }}
          name: azure-edge-cli-ext
      - name: Upload SBOM Artifact
        uses: actions/upload-artifact@v3.1.0
        with:
          path: dist/_manifest/
          name: SBOM
  upload_wheel:
    needs: [build]
    if: ${{ github.event.inputs.upload_wheel == 'true' }}
    uses: ./.github/workflows/upload_wheel.yml
    secrets: inherit