name: Build and Publish Release
run-name: 'Build and publish release - Deployment: ${{ inputs.release_strategy }}' 
on:
  # only manual trigger
  workflow_dispatch:
    inputs:
      continue-on-fail:
        description: Continue build even if pre-checks fail
        type: boolean
        required: false
        default: false
      release_strategy:
        description: |
          Post-build actions:
          Select 'upload-wheel' to upload wheel to storage.
          Select 'prod-release' to draft a github release and then upload wheel
        type: choice
        required: true
        default: "none"
        options:
          - 'none'
          - 'upload-wheel'
          - 'prod-release'
jobs:
  security:
    uses: ./.github/workflows/security_checks.yml
  build:
    uses: ./.github/workflows/release_build.yml
  test:
    uses: ./.github/workflows/tox.yml
  linter:
    needs: [build]
    uses: ./.github/workflows/azdev_linter.yml
  smoke_test:
    needs: [build]
    uses: ./.github/workflows/smoke_test.yml
  approval:
    needs: [security, build, test, linter]
    if: ${{ (success() || github.event.inputs.continue-on-fail) && inputs.release_strategy != 'none' }}
    environment: production
    runs-on: ubuntu-latest
    steps:
      - name: Confirm
        run: |
          echo "Approved"
          echo "Release Strategy: ${{ inputs.release_strategy }}"
          if [ "${{ inputs.release_strategy }}" == "upload-wheel"]; then
            echo "Wheel will be uploaded to storage account."
          elif [ "${{ inputs.release_strategy }}" == "prod-release"]; then
            echo "Wheel will be uploaded to storage account after drafting a github release"
          fi
  # occurs when release_strategy is prod-release
  draft_github_release:
    needs: [approval]
    if: needs.approval.result == 'success' && inputs.release_strategy == 'prod-release'
    uses: ./.github/workflows/stage_release.yml
    secrets: inherit
  # occurs when release_strategy is not 'none'
  upload_wheel:
    needs: [approval]
    if: needs.approval.result == 'success' && inputs.release_strategy != 'none'
    uses: ./.github/workflows/upload_wheel.yml
    secrets: inherit
