name: Build Wheel
on:
  workflow_call:
  workflow_dispatch:

jobs:
  build:
      runs-on: [self-hosted, 1ES.Pool=iotupx-github-hosted-pool, 1ES.ImageOverride=MMSUbuntu20.04]
      steps:
      - name: Setup python
        uses: actions/setup-python@v3
        with:
            python-version: "3.9"
      
      - uses: actions/checkout@v3

      - name: Build Wheel
        run: |
          pip install wheel==0.30.0
          python -m setup bdist_wheel -d dist
      - name: Generate SBOM
        run: |
          curl -Lo $RUNNER_TEMP/sbom-tool https://github.com/microsoft/sbom-tool/releases/download/v1.1.2/sbom-tool-linux-x64
          chmod +x $RUNNER_TEMP/sbom-tool
          $RUNNER_TEMP/sbom-tool generate -b ./dist -bc . -pn "Azure Edge CLI Extension" -pv "0.0.1-alpha" -ps Microsoft

      - name: Upload Wheel Artifact
        uses: actions/upload-artifact@v3.1.0
        with:
          path: dist/*.whl
          name: azure-edge-cli-ext
      - name: Upload SBOM Artifact
        uses: actions/upload-artifact@v3.1.0
        with:
          path: dist/_manifest/
          name: SBOM